* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(22, 22, 22);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.view1 .bottom {
  color: white;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main section.view1 .bottom .text p {
  font-weight: 200;
  opacity: 0.5;
  line-height: 30px;
}
main section.view1 .bottom .text h1 {
  font-weight: 200;
}
main section.view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
main section.view2 {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
}
main section.view2 .top,
main section.view2 .bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main section.view2 small {
  font-size: 0.7em;
}
main section.view2 h2 {
  font-weight: 300;
}
main section.view3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.view3 .bottom > p {
  font-size: 1rem;
}
main section.view3 .bottom {
  color: white;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
}
main section.view3 .bottom .text h1 {
  font-weight: 200;
}
main section.view3 .bottom .text .para {
  font-weight: 200;
  opacity: 0.5;
  line-height: 30px;
}
main section.view4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  width: 100%;
}
main section.view4 .card:nth-child(2) {
  background-image: url(./card2.webp);
}
main section.view4 .card:nth-child(3) {
  background-image: url(./card3.webp);
}
main section.view4 .card {
  background-image: url(./card1.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-radius: 0.7rem;
}
main section.view4 .card .icon, main section.view4 .card .bottom {
  background-color: rgba(131, 131, 131, 0.578);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
main section.view4 .card .top {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
main section.view4 .card .top .icon {
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  font-weight: 200;
}
main section.view4 .card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.7rem;
  font-weight: 300;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view2 {
    flex-direction: row;
  }
  main section.view2 .top,
  main section.view2 .bottom {
    justify-content: space-around;
  }
  main section.view3 {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  main section.view3 .top,
  main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .para {
    display: flex;
  }
  main section.view4 {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */